---
import banner from "../assets/iphoneEvent.webp";
---

<section class="w-full pb-20 md:pb-0 pt-20 px-6">
  <div
    class="max-w-screen-xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-x-12 gap-y-16 items-start"
  >
    <div class="relative text-start justify-start md:col-span-2">
      <h2
        class="text-4xl text-center md:text-start md:text-8xl font-montserrat pr-0 md:pr-15 text-slate-900 leading-tight"
      >
        ZVEDAVOSŤ, KTORÁ<span class="font-bold"> VYHRÁVA </span>
      </h2>
    </div>

    <div class="flex flex-col items-start gap-4">
      <div class="flex flex-row gap-3">
        <div
          class="flex-shrink-0 w-8 h-8 bg-yellow-400 text-slate-900 font-bold flex items-center justify-center rounded-full"
        >
          1
        </div>
        <div>
          <h3 class="text-xl font-montserrat-headline-bold text-slate-900">
            VÁŠ PRODUKT JE TAJOMSTVOM
          </h3>
          <p>Skrytý pod otáznikom, aby vzbudil zvedavosť a záujem užívateľa.</p>
        </div>
      </div>
      <div class="flex flex-row gap-3">
        <div
          class="flex-shrink-0 w-8 h-8 bg-yellow-400 text-slate-900 font-bold flex items-center justify-center rounded-full"
        >
          1
        </div>
        <div>
          <h3 class="text-xl font-montserrat-headline-bold text-slate-900">
            KLIKNI A ODHAĽ VÝHRU
          </h3>
          <p>
            Jedným klikom sa odhalí produkt - interakcia, ktorá baví a motivuje.
          </p>
        </div>
      </div>
    </div>

    <div class="hidden lg:flex justify-center items-center">
      <div class="w-full max-w-sm">
        <img src={banner.src} alt="Iphone banner w-full h-auto" />
      </div>
    </div>
  </div>
</section>
