---
import Button from "./Button.astro";
import PhoneMockup from "../assets/phone-mockup-hero.svg";
import Blesk from "../assets/blesk.svg";
import FeaturesSection from "./FeaturesSection.astro";
---

<section class="relative pt-25 md:pt-0 w-full min-h-screen overflow-hidden">
  <div class="absolute inset-0 %"></div>

  <div
    class="relative z-10 max-w-screen-xl mx-auto grid grid-cols-1 md:grid-cols-12 gap-8 min-h-screen px-6"
  >
    <div
      class="flex flex-col justify-center text-center md:col-span-8 md:text-left"
    >
      <h1
        class="text-4xl md:text-8xl font-montserrat text-slate-900 leading-tight"
      >
        <span class="font-bold">Buďte viditeľní</span> tak ako nikde inde!
        <span class="hidden md:inline-block"
          ><img class="pb-5 size-14" src={Blesk.src} /></span
        >
      </h1>
      <div class="mt-10 flex justify-center md:justify-start">
        <Button
          href="/media-kit"
          text="MEDIA KIT"
          style="padding-right:40px; padding-left: 40px; "
        />
      </div>
    </div>

    <div class="relative md:col-span-4 min-h-[50vh]">
      <img
        src={PhoneMockup.src}
        alt="Aplikácia v mobile - popredie"
        class="absolute w-96 pt-10 md:w-[38rem] max-w-none top-1/2 left-1/2 -translate-x-3/5 -translate-y-1/2 md:-translate-x-1/2 md:-translate-y-1/2 z-10"
      />
    </div>
  </div>
</section>
