---
import mobil from "../assets/iphony.webp";
---

<section class="flex
    items-center
    justify-center
 
    
    w-full
    py-20">
  <img
    src={mobil.src}
    alt="Mobil Mockup"
    class="w-72
      md:w-1/6
      max-w-full
      h-auto"
  />
</section>
