---
import banner from "../assets/bannerEvent.webp";
import banner2 from "../assets/bannerPrize1.webp";
import banner3 from "../assets/bannerPrize2.webp";
import banner4 from "../assets/iphonePrize.webp";
---

<section class="w-full py-20 px-6">
  <div
    class="max-w-screen-xl mx-auto grid grid-cols-1 lg:grid-cols-2 gap-x-12 gap-y-16 items-start"
  >
    <div class="relative text-start justify-start md:col-span-2">
      <h2
        class="text-4xl text-center md:text-start md:text-8xl font-montserrat pr-0 md:pr-15 text-slate-900 leading-tight"
      >
        VAŠA <span class="font-bold">ZNAČKA </span>NA PRVOM MIESTE
      </h2>
    </div>

    <div
      class="space-y-10 col-start grid grid-cols-1 lg:grid-cols-2 gap-x-8 gap-y-10"
    >
      <div class="flex flex-col items-start gap-4">
        <div class="flex flex-row gap-3">
          <div
            class="flex-shrink-0 w-8 h-8 bg-yellow-400 text-slate-900 font-bold flex items-center justify-center rounded-full"
          >
            1
          </div>
          <h3 class="text-xl font-montserrat-headline-bold text-slate-900">
            REKLAMNÝ BANNER
          </h3>
        </div>
        <div>
          <div class="mt-4 w-full max-w-[353px]">
            <img
              style="border-radius: 2rem;"
              src={banner2.src}
              alt="Hero Banner"
              class="w-full h-auto"
            />
          </div>
        </div>
        <div class="gap-2">
          <p class="pb-2 text-xl"><blesk></blesk>produkt z vášho portfólia</p>
          <p class="text-xl"><blesk></blesk>alebo produkt tretej strany</p>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-x-8 gap-y-10">
        <div class="flex items-start gap-4">
          <div
            class="flex-shrink-0 w-8 h-8 bg-blue-400 text-slate-900 font-bold flex items-center justify-center rounded-full"
          >
            2
          </div>
          <div>
            <h3 class="text-xl font-montserrat-headline-bold text-slate-900">
              LOGO NA OČIACH
            </h3>
            <div class="mt-4 w-full max-w-[353px]">
              <img
                src={banner3.src}
                alt="Logo Banner "
                class="w-full pt-8 h-auto"
              />
            </div>
          </div>
        </div>

        <div class="flex items-start gap-4">
          <div
            class="flex-shrink-0 w-8 h-8 bg-purple-400 text-slate-900 font-montserrat-headline-bold flex items-center justify-center rounded-full"
          >
            3
          </div>
          <div>
            <h3 class="text-xl font-montserrat-headline-bold text-slate-900">
              REKLAMNÝ BANNER
            </h3>
            <div class="mt-4 w-full max-w-[353px]">
              <img
                src={banner.src}
                alt="Brand Name Banner"
                class="w-full h-auto"
              />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden lg:flex justify-center items-center">
      <div class="w-full max-w-sm">
        <img src={banner4.src} alt="Iphone banner w-full h-auto" />
      </div>
    </div>
  </div>
</section>
