---
// src/components/ScrollSequence.astro
import jednotka from "../assets/01.svg";
---

<section class="scroll-sequence-container min-h-screen relative">
  <div
    class="homepage-panel pb-10 pl-5 md:pb-45 md:pl-15 absolute bottom-0 left-0 w-full h-0 bg-[#4F26E8] flex flex-col items-start justify-end overflow-hidden"
  >
    <div
      class="absolute size-20 bottom-34 md:bottom-76 md:left-45 md:size-64 rounded-full flex items-center justify-center"
    >
      <img src={jednotka.src} alt="" />
    </div>
    <h1
      class="text-white font-display text-5xl md:text-9xl lg:text-[200px] font-bold uppercase"
    >
      Homepage
    </h1>
    <p class="text-white text-3xl font-inter font-medium mt-4">
      Prvý dojem, ktorý zanechá stopu.
    </p>
  </div>
</section>

<style>
  .animated-text .word {
    display: inline-flex;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  // Import SplitType bol odstránený, už ho nepotrebujeme

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: ".scroll-sequence-container",
      pin: true,
      scrub: 1,
      // Dĺžku scrollu sme skrátili pre plynulejší zážitok bez textu
      end: "+=1500",
    },
  });

  // Celý blok animácie pre ".animated-text" bol odstránený.
  // Začíname priamo animáciou pre "Homepage" panel.

  tl.to(".homepage-panel", {
    height: "100vh",
    duration: 2,
    ease: "power2.inOut",
  });
  tl.to({}, { duration: 1 });
  tl.to(".homepage-panel", {
    opacity: 0,
    duration: 1.5,
    ease: "power2.inOut",
  });
</script>
