---
import soc1 from "../assets/soc1.webp";
import soc2 from "../assets/soc2.webp";
import soc3 from "../assets/soc3.webp";
import soc4 from "../assets/soc4.webp";
import soc5 from "../assets/soc5.webp";
---

<section class="w-full pt-20 pb-20 md:pb-128 px-6">
  <div
    class="max-w-screen-xl mx-auto grid grid-cols-1 lg:grid-cols-1 gap-x-12 gap-y-16 items-start"
  >
    <div class="relative text-start justify-center md:col-span-2">
      <h2
        class="text-4xl text-center md:text-center md:text-8xl font-display font-bold pr-0 md:pr-15 bg-gradient-to-r from-[#2C1E67] to-[#8558FF] text-transparent bg-clip-text leading-tight"
      >
        Zviditeľnite sa v našej komunite
      </h2>
    </div>

    <div
      class="md:col-span-1 col-span-2 grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-3 gap-x-3 gap-y-3 items-center"
    >
      <div class="flex justify-center">
        <img src={soc1.src} alt="Logo partnera 1" />
      </div>
      <div class="flex justify-center">
        <img src={soc2.src} alt="Logo partnera 2" />
      </div>
      <div class="flex justify-center">
        <img src={soc4.src} alt="Logo partnera 4" />
      </div>
    </div>
  </div>
</section>
