---
import jednotka from "../../assets/01.svg";
---

<div
  class="w-full h-full bg-[#4F26E8] flex flex-col items-start justify-end p-5 md:p-15 pb-10 md:pb-45 overflow-hidden"
>
  <div class="absolute size-20 bottom-24 md:bottom-76 md:left-45 md:size-64">
    <img src={jednotka.src} alt="Homepage ikona" class="w-full h-auto" />
  </div>
  <h1
    class="text-white font-display text-5xl md:text-9xl lg:text-[200px] font-bold uppercase"
  >
    Homepage
  </h1>
  <p class="text-white text-3xl font-inter font-medium mt-4">
    Prvý dojem, ktorý zanechá stopu.
  </p>
</div>
