---
import stvorka from "../../assets/04.svg";
---

<div
  class="w-full h-full bg-[#120B2C] flex flex-col items-start justify-end p-5 md:p-15 pb-10 md:pb-45 overflow-hidden"
>
  <div
    class="absolute size-20 bottom-35 left-35 md:bottom-76 md:left-170 md:size-64"
  >
    <img src={stvorka.src} alt="Socials ikona" class="w-full h-auto" />
  </div>
  <h1
    class="text-white font-display text-5xl md:text-9xl lg:text-[200px] font-bold uppercase"
  >
    SOCIALS
  </h1>
  <p class="text-white text-3xl font-inter font-medium mt-4">
    Vaša značka, naše publikum.
  </p>
</div>
